@model List<PERFILES.Models.Empleados>

@{
    //ViewBag.Title = "Home Page";
    ViewBag.Title = "PERFILES";
}

<main>
    <div class="homepage">
        <h1 class="homepage-header"><b>Bienvenidos a esta prueba técnica!</b></h1>
    </div>
</main>