@model byte[]
@{
    ViewBag.Title = "Reporte de empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>PDF Viewer</title>
    <style>
    </style>
</head>
<body>
    <main>
        <h2 id="reporte-header">Reporte de empleados</h2>

        
        <div class="filter-section">
            @using (Html.BeginForm("Filtro", "Reporte", FormMethod.Post, new {id = "reporte-form"}))
            {
                <div class="filtro-labels-inputs">
                    <div class="filtro-labels">
                        <h3>Rango de fechas:</h3>
                        <h3>Departamento:</h3>
                    </div>
                    <div class="filtro-fechas-dep" id="filtro-fechas-dep">
                        <div class="seccion-fechas">
                            <label for="fecha-inf" hidden></label>
                            <div class="fecha-min" id="fecha-min">
                                <input type="date" class="fecha-inf" name="fecha-inf" id="fecha-inf" placeholder="dd/mm/yyyy" min="1950-01-01" />
                            </div>
                            <div class="guion">
                                <b> - </b>
                            </div>
                            <label for="fecha-sup" hidden></label>
                            <div class="fecha-max" id="fecha-max">
                                <input type="date" class="fecha-sup" name="fecha-sup" id="fecha-sup" placeholder="dd/mm/yyyy" min="1950-01-01" />
                            </div>
                        </div>

                        <div class="filtro-dep" id="filtro-dep">
                            <select name="selector-dep" id="selector-dep" class="form-select form-select-sm">
                                <option value="Ventas" selected>Ventas</option>
                                <option value="Recursos Humanos">Recursos Humanos</option>
                                <option value="IT">IT</option>
                                <option value="Legal">Legal</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="boton-actualizar">
                    <button type="submit" name="actualizar-reporte" id="actualizar-reporte" class="actualizar-reporte btn btn-info">
                        Actualizar Reporte
                    </button>
                </div>
            }
        </div>

        <div class="pdfFile">
            <iframe id="pdfViewer" class="pdfViewer" src="data:application/pdf; base64, @(Convert.ToBase64String(Model))" frameborder="0"></iframe>
        </div>
    </main>

</body>
</html>
